        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {}
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {}
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {}
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
        .container {
        width: 90%;
        margin: 0 auto;
        }
        }
        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {}
       
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap');
      
.App {
  text-align: center;
}

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:black;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color:black;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  padding-top: 3.5rem;
  font-size:10rem ;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


h2{
  color:white ;
  margin-top: 4rem;
  word-break: break-all;
}
.jumbo {
  background: url("../assets/jumbo.jpg") no-repeat fixed bottom;
  background-size: cover;
  color: #efefef;
  position: relative;
  z-index: -2;
  display: flex;
  justify-content: center;
  line-height: 0.75rem;
  padding:10px ;
  height: 100vh;

}
.overlay {
  background-color: rgb(253, 253, 253);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; 
}

.copyright{
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg
    ,#434343,#434343 1px,#111 0,#111);
}
 
body::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}