        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {}
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {}
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {}
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
        .container {
        width: 90%;
        margin: 0 auto;
        }
        }
        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {}
       
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap');
      
.App {
  text-align: center;
}

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:black;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: rgb(247, 247, 255);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size:10rem ;
  color:#efefef;
  text-align: center;
  margin-block-start:0.335em;
  margin-block-end:0.335em;
}


h2{
  color:#efefef;
  word-break: break-word;
  line-height: 1.43;
  text-align:center;
}
h3{
  color:rgb(47, 57, 66) ;
  line-height: 1.43;
  text-align:center;
}

.intro-wrapper{
  background-color:#afb994; 
  display: flex;
  position: relative;
 
 
}
.intro-content{
  justify-content: center;
  padding-bottom:  3rem; 
 
}

.button-wrapper{
  display: block;
  justify-content: center;
  padding-bottom:  1.5rem; 
  margin-left: 24rem;
  width:fit-content;
  
}
#link-btn{
  align-items: center;
}

.copyright{
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  background:white;
}
 
body::-webkit-scrollbar-thumb {
  background:#afb994;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}