
.footer-wrapper{
padding-top: 3em;
position: relative;
bottom: 0;
width: 100%;
text-align: center;
}
.footer-content{
margin-block-start: 1em;
margin-block-end: 1em;
}


.footer-link{
color:  rgb(47, 57, 66);
text-decoration:none ;
padding-left:2rem ;
}

.footer-link:hover{
color:  rgb(0, 0, 0);
text-decoration:none ;
 
 }