.navbar {
    background:  linear-gradient(90deg, #afb994 20%,  #8e9778 100%) ;
    display:flex;
    justify-content: space-between;
    
  }
  a, .navbar-brand, .navbar-nav .nav-link   {
    color:  #efefef;
    }

    a:hover, .navbar-brand:hover, .navbar-nav:hover .nav-link:hover {
        color: white;
    }
   